<div class="center jumbotron">
  <h2>ยินดีต้อนรับสู่เว็บไซต์</h2>
  <h1>รวมเพลงพระราชนิพนธ์</h1>
  <h2>
    <a href="http://www.photoontour.com/SpecialPhotos_HTML/60thcelebration/king_data5.htm" target="_blank">เพลงพระราชนิพนธ์ ทั้ง 48 ลำดับ คลิก!!</a>
  </h2>
  <h3>สุดยอดเพลงอันทรงคุณค่า ที่คุณควรฟัง</h3>
  <%= link_to "LOVE AT SUNDOWN [ยามเย็น]", 'kingsong1', class: "btn btn-lg btn-primary" %>&nbsp;&nbsp;
  <%= link_to "Blue Day [อาทิตย์อับแสง]", 'kingsong2', class: "btn btn-lg btn-warning" %>
  <br><br>
  <%= link_to image_tag("KingSongImg01.JPG", alt: "เพลงพระราชนิพนธ์"), 'http://www.photoontour.com/SpecialPhotos_HTML/60thcelebration/king_data5.htm' %>
</div>
