 <% provide(:title, "LOVE AT SUNDOWN") %>
<!DOCTYPE html>
<html>
 <head>

 </head>
 <body>
 <h1>LOVE AT SUNDOWN [ยามเย็น]</h1>
 <p>
  <center>
    <a href="https://www.youtube.com/watch?v=yqgZYQOP1PQ"><em>เพลงพระราชนิพนธ์ ลำดับที่ 2</em></a><br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yqgZYQOP1PQ" frameborder="0" allowfullscreen></iframe>
  </center>
 </p>
 </body>
</html>