<footer class="footer">
  <small>
    Presented by <a href="https://www.facebook.com/anapat.muangchol?ref=bookmarks" target="_blank">Mr.Anapat Muangchol 57160033</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "LOVE AT SUNDOWN", 'kingsong1' %></li>
      <li><%= link_to "Blue Day", 'kingsong2' %></li>
      <li><a href="https://www.youtube.com/watch?v=IwhWcnJ3GXg&list=PL5DB5F89649D22EF3" target="_blank">Other songs</a></li>
    </ul>
  </nav>
</footer>